<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
	backupStaticAttributes="false"
	bootstrap="Tests/bootstrap.php"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnFailure="false"
	syntaxCheck="false">

	<php>
		<!-- disable E_USER_DEPRECATED -->
		<!-- -16385 is the same as -1 & ~E_USER_DEPRECATED -->
		<ini name="error_reporting" value="-16385"/>
		<server name="KERNEL_DIR" value="./Tests/Fixtures/app/" />
	</php>

	<testsuites>
		<testsuite name="command">
			<file>./Tests/Command/SetupCommandTest.php</file>
			<file>./Tests/Command/CacheCommandTest.php</file>
			<file>./Tests/Command/JobsCommandTest.php</file>
			<file>./Tests/Command/AccountCommandTest.php</file>
		</testsuite>
		<testsuite name="entity">
			<directory>./Tests/Entity</directory>
		</testsuite>
		<testsuite name="controller">
			<directory>./Tests/Controller</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist>
			<directory suffix=".php">./</directory>
			<exclude>
				<directory>./Composer/</directory>
				<directory>./Tests/</directory>
				<directory>./Resources/</directory>
				<directory>./vendor/</directory>
				<directory>./ext/</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
