<!DOCTYPE html>
<html>
    <head>
{% block aimeos_header %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <title>{% block title %}Aimeos shop{% endblock %}</title>
{% block aimeos_styles %}{% endblock %}
    </head>
    <body>
        <div class="navbar navbar-static" role="navigation">
{% block aimeos_head %}{% endblock %}
        </div>
{% if block('aimeos_nav') %}
        <div class="col-xs-12 col-sm-3">
            {% block aimeos_nav %}{% endblock %}
        </div>
{% endif %}
{% if block('aimeos_nav') or block('aimeos_aside') %}
        <div class="col-xs-12 col-sm-9">
{% else %}
        <div class="col-xs-12">
{% endif %}
            {% block aimeos_stage %}{% endblock %}
            {% block aimeos_body %}{% endblock %}
        </div>
{% if block('aimeos_aside') %}
        <div class="col-xs-12 col-sm-3">
            {% block aimeos_aside %}{% endblock %}
        </div>
{% endif %}
{% block aimeos_scripts %}{% endblock %}
    </body>
</html>
